@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&family=Roboto:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body .menu {
  display: flex;
  align-items: center;
  height: 125px;
  border-bottom: 0.5px solid aquamarine; }
  body .menu .menuToggle, body .menu .menu_open, body .menu .menu_close {
    display: none; }
  body .menu .logo {
    width: 10%; }
    body .menu .logo a > img {
      width: 100%;
      margin: 15px; }
  body .menu > nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    body .menu > nav .enlace {
      text-decoration: none;
      font-family: "Roboto Mono", monospace;
      color: yellowgreen; }

body .pie {
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
  height: 55px;
  padding: 0 10% 0 10%;
  align-items: center;
  margin-top: 50px; }
  body .pie .redes_container {
    display: flex;
    align-items: center; }
    body .pie .redes_container .redes {
      margin-right: 20px; }
      body .pie .redes_container .redes img {
        width: 40px; }
  body .pie .footer_link .nosotros {
    margin-right: 90px; }
  body .pie .footer_link .nosotros, body .pie .footer_link .vision {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: antiquewhite; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.index main .carrucel {
  margin: 25px 0 15px 0;
  width: 100%;
  display: flex;
  justify-content: center; }
  .index main .carrucel img {
    width: 80%; }

.index main .productos, .index main .promociones {
  margin-left: 10%;
  margin-right: 10%; }
  .index main .productos .vermas, .index main .promociones .vermas {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: yellowgreen; }
    .index main .productos .vermas:hover, .index main .promociones .vermas:hover {
      border-bottom: 1px solid yellowgreen; }
  .index main .productos .contenedor_productos, .index main .promociones .contenedor_productos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between; }
    .index main .productos .contenedor_productos .contenedor_articulo, .index main .promociones .contenedor_productos .contenedor_articulo {
      width: 30%; }
      .index main .productos .contenedor_productos .contenedor_articulo a, .index main .promociones .contenedor_productos .contenedor_articulo a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        color: yellowgreen;
        border: 1px yellowgreen solid;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        height: 100%; }
      .index main .productos .contenedor_productos .contenedor_articulo > h2, .index main .promociones .contenedor_productos .contenedor_articulo > h2 {
        margin: 10px 0 10px 0; }
      .index main .productos .contenedor_productos .contenedor_articulo .articulo, .index main .promociones .contenedor_productos .contenedor_articulo .articulo {
        width: 100%; }

.index main .promociones {
  margin-top: 30px; }

.locales main .titulo {
  display: flex;
  background-color: #ace8f3;
  justify-content: center;
  height: 50%; }
  .locales main .titulo h2 {
    margin: 20px 10px;
    font-family: "Dancing Script", cursive;
    color: yellowgreen;
    font-size: 50px; }

.locales main .contenedor_locales {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .locales main .contenedor_locales .local {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 2rem;
    align-items: center; }
    .locales main .contenedor_locales .local p {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      width: 60%;
      padding: 30px;
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
      height: fit-content; }
    .locales main .contenedor_locales .local iframe {
      width: 30%;
      aspect-ratio: 1/1;
      border: 0;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; }

.categorias main .titulo {
  display: flex;
  background-color: #ace8f3;
  justify-content: center;
  height: 50%; }
  .categorias main .titulo h2 {
    margin: 20px 10px;
    font-family: "Dancing Script", cursive;
    color: yellowgreen;
    font-size: 50px; }

.categorias main .carrucel {
  margin: 25px 0 15px 0;
  width: 100%;
  display: flex;
  justify-content: center; }
  .categorias main .carrucel img {
    width: 80%; }

.categorias main .productos, .categorias main .promociones {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2rem; }
  .categorias main .productos .vermas, .categorias main .promociones .vermas {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: yellowgreen;
    font-size: 30px; }
    .categorias main .productos .vermas:hover, .categorias main .promociones .vermas:hover {
      border-bottom: 1px solid yellowgreen; }
  .categorias main .productos .contenedor_productos, .categorias main .promociones .contenedor_productos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between; }
    .categorias main .productos .contenedor_productos .contenedor_articulo, .categorias main .promociones .contenedor_productos .contenedor_articulo {
      width: 30%; }
      .categorias main .productos .contenedor_productos .contenedor_articulo a, .categorias main .promociones .contenedor_productos .contenedor_articulo a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-decoration: none;
        font-family: "Roboto Mono", monospace;
        color: yellowgreen;
        border: 1px yellowgreen solid;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        height: 100%; }
      .categorias main .productos .contenedor_productos .contenedor_articulo > h2, .categorias main .promociones .contenedor_productos .contenedor_articulo > h2 {
        margin: 10px 0 10px 0; }
      .categorias main .productos .contenedor_productos .contenedor_articulo .articulo, .categorias main .promociones .contenedor_productos .contenedor_articulo .articulo {
        width: 100%; }

.contacto main .titulo {
  display: flex;
  background-color: #ace8f3;
  justify-content: center;
  height: 50%; }
  .contacto main .titulo h2 {
    margin: 20px 10px;
    font-family: "Dancing Script", cursive;
    color: yellowgreen;
    font-size: 50px; }

.contacto main .contacto_section {
  display: flex;
  justify-content: center; }
  .contacto main .contacto_section .form_container {
    width: 100%;
    max-width: 600px;
    background-color: aliceblue;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 20px;
    margin-top: 30px; }
    .contacto main .contacto_section .form_container .form {
      width: 100%; }
      .contacto main .contacto_section .form_container .form .input_name_box {
        display: flex;
        justify-content: space-between; }
        .contacto main .contacto_section .form_container .form .input_name_box .form_input_name {
          width: 48%; }
      .contacto main .contacto_section .form_container .form .form_input, .contacto main .contacto_section .form_container .form .form_textarea {
        display: flex;
        flex-direction: column;
        margin: 15px 0; }
        .contacto main .contacto_section .form_container .form .form_input label, .contacto main .contacto_section .form_container .form .form_textarea label {
          font-family: "Dancing Script", cursive;
          color: yellowgreen;
          font-size: 35px;
          margin-bottom: 5px; }
        .contacto main .contacto_section .form_container .form .form_input input, .contacto main .contacto_section .form_container .form .form_textarea input {
          border: 0;
          background: none;
          outline: none;
          border-bottom: 2px solid yellowgreen;
          font-size: 16px;
          color: #1b1b1b; }
          .contacto main .contacto_section .form_container .form .form_input input::placeholder, .contacto main .contacto_section .form_container .form .form_textarea input::placeholder {
            color: #5c555570; }
        .contacto main .contacto_section .form_container .form .form_input textarea, .contacto main .contacto_section .form_container .form .form_textarea textarea {
          width: 100%;
          resize: none;
          height: 190px;
          border: 2px solid yellowgreen;
          font-family: 'Times New Roman', Times, serif;
          font-size: 20px; }
      .contacto main .contacto_section .form_container .form .form_submit {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .contacto main .contacto_section .form_container .form .form_submit button {
          padding: 10px 40px;
          border: 0;
          background: yellowgreen;
          border-radius: 20px;
          font-size: 20px;
          cursor: pointer; }
        .contacto main .contacto_section .form_container .form .form_submit p {
          font-family: "Dancing Script", cursive;
          color: yellowgreen;
          font-size: 30px; }

.body_productos main .titulo {
  display: flex;
  background-color: #ace8f3;
  justify-content: center;
  height: 50%; }
  .body_productos main .titulo h2 {
    margin: 20px 10px;
    font-family: "Dancing Script", cursive;
    color: yellowgreen;
    font-size: 50px; }

.body_productos main .contenedor_productos {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .body_productos main .contenedor_productos .contenedor_articulo {
    width: 15%;
    margin: 1%; }
    .body_productos main .contenedor_productos .contenedor_articulo a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none;
      font-family: "Roboto Mono", monospace;
      color: yellowgreen;
      border: 1px yellowgreen solid;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
      height: 100%; }
    .body_productos main .contenedor_productos .contenedor_articulo > h2 {
      margin: 10px 0 10px 0; }
    .body_productos main .contenedor_productos .contenedor_articulo .articulo {
      width: 100%; }

.body_productos .promociones {
  margin-top: 30px; }

.ideas-e-inspiraciones main .titulo {
  display: flex;
  background-color: #ace8f3;
  justify-content: center;
  height: 50%; }
  .ideas-e-inspiraciones main .titulo h2 {
    margin: 20px 10px;
    font-family: "Dancing Script", cursive;
    color: yellowgreen;
    font-size: 50px; }

.ideas-e-inspiraciones main .galeria {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen1 imagen2 imagen3 imagen3" "imagen1 imagen4 imagen5 imagen6" "imagen7 imagen4 imagen8 imagen8";
  width: 100%;
  grid-gap: 5px;
  overflow: hidden; }
  .ideas-e-inspiraciones main .galeria .galeria_item {
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    transition: 0.3s; }
    .ideas-e-inspiraciones main .galeria .galeria_item:hover {
      transform: scale(1.05); }
  .ideas-e-inspiraciones main .galeria .galeria_item1 {
    grid-area: imagen1;
    background-image: url(../img/idea5.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item2 {
    grid-area: imagen2;
    background-image: url(../img/idea7.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item3 {
    grid-area: imagen3;
    background-image: url(../img/idea3.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item4 {
    grid-area: imagen4;
    background-image: url(../img/idea6.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item5 {
    grid-area: imagen5;
    background-image: url(../img/idea1.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item6 {
    grid-area: imagen6;
    background-image: url(../img/idea8.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item7 {
    grid-area: imagen7;
    background-image: url(../img/idea2.jpg); }
  .ideas-e-inspiraciones main .galeria .galeria_item8 {
    grid-area: imagen8;
    background-image: url(../img/idea4.jpg); }

.ideas-e-inspiraciones main .galeria_2 {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen1 imagen2 imagen2 imagen3 imagen4" "imagen5 imagen6 imagen6 imagen6 imagen4"  "imagen5 imagen6 imagen6 imagen6 imagen4";
  width: 100%;
  grid-gap: 5px;
  overflow: hidden; }
  .ideas-e-inspiraciones main .galeria_2 .item_to_galeri {
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    transition: 0.3s; }
    .ideas-e-inspiraciones main .galeria_2 .item_to_galeri:hover {
      transform: scale(1.1); }
  .ideas-e-inspiraciones main .galeria_2 .galeri_items1 {
    grid-area: imagen1;
    background-image: url(../img/idea14.jpg); }
  .ideas-e-inspiraciones main .galeria_2 .galeri_items2 {
    grid-area: imagen2;
    background-image: url(../img/idea10.jpg); }
  .ideas-e-inspiraciones main .galeria_2 .galeri_items3 {
    grid-area: imagen3;
    background-image: url(../img/idea13.jpg); }
  .ideas-e-inspiraciones main .galeria_2 .galeri_items4 {
    grid-area: imagen4;
    background-image: url(../img/idea11.jpg); }
  .ideas-e-inspiraciones main .galeria_2 .galeri_items5 {
    grid-area: imagen5;
    background-image: url(../img/idea9.jpg); }
  .ideas-e-inspiraciones main .galeria_2 .galeri_items6 {
    grid-area: imagen6;
    background-image: url(../img/idea12.jpg); }

@media (max-width: 768px) {
  body .menu {
    flex-direction: column;
    height: auto;
    position: relative; }
    body .menu .logo {
      width: 100%; }
      body .menu .logo a > img {
        width: 80px; }
    body .menu > nav {
      display: none;
      flex-direction: column;
      align-items: center; }
      body .menu > nav .enlace {
        margin-bottom: 20px; }
    body .menu .menuToggle {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      width: 30px;
      height: 35px;
      z-index: 10;
      opacity: 0;
      cursor: pointer; }
    body .menu #menuToggle:checked ~ #menu {
      display: flex; }
    body .menu .menu_close, body .menu .menu_open {
      position: absolute;
      display: block;
      width: 30px;
      top: 10px;
      right: 10px;
      color: yellowgreen; }
    body .menu .menu_close {
      display: none; }
    body .menu #menuToggle:checked ~ .menu_open {
      display: none; }
    body .menu #menuToggle:checked ~ .menu_close {
      display: flex; }
  body .pie {
    padding: 0 20px 0 20px; }
    body .pie .footer_link .nosotros {
      margin-right: 20px; } }

@media (max-width: 500px) {
  body .pie .redes_container .redes img {
    width: 30px; }
  body .pie .footer_link {
    display: flex;
    flex-direction: column; }
    body .pie .footer_link .nosotros {
      margin-right: 0px; } }

@media (max-width: 768px) {
  .index main .productos .contenedor_productos, .index main .promociones .contenedor_productos {
    flex-wrap: wrap; }
    .index main .productos .contenedor_productos .contenedor_articulo, .index main .promociones .contenedor_productos .contenedor_articulo {
      width: 47%;
      margin-bottom: 10px; } }

@media (max-width: 500px) {
  .index main .productos .contenedor_productos, .index main .promociones .contenedor_productos {
    flex-direction: column;
    align-items: center; }
    .index main .productos .contenedor_productos .contenedor_articulo, .index main .promociones .contenedor_productos .contenedor_articulo {
      width: 80%;
      margin-bottom: 10px; } }

@media (max-width: 750px) {
  .locales main .contenedor_locales .local {
    width: 90%;
    margin: 2rem 0; }
    .locales main .contenedor_locales .local > p {
      width: 50%;
      font-size: 13px; }
    .locales main .contenedor_locales .local iframe {
      width: 40%; } }

@media (max-width: 550px) {
  .locales main .contenedor_locales .local {
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0; }
    .locales main .contenedor_locales .local > p {
      width: 100%;
      padding: 15px;
      margin-bottom: 2rem; }
    .locales main .contenedor_locales .local iframe {
      width: 80%; } }

@media (max-width: 768px) {
  .categorias main .productos .contenedor_productos, .categorias main .promociones .contenedor_productos {
    flex-wrap: wrap; }
    .categorias main .productos .contenedor_productos .contenedor_articulo, .categorias main .promociones .contenedor_productos .contenedor_articulo {
      width: 47%;
      margin-bottom: 10px; } }

@media (max-width: 500px) {
  .categorias main .productos .contenedor_productos, .categorias main .promociones .contenedor_productos {
    flex-direction: column;
    align-items: center; }
    .categorias main .productos .contenedor_productos .contenedor_articulo, .categorias main .promociones .contenedor_productos .contenedor_articulo {
      width: 80%;
      margin-bottom: 10px; } }

@media (max-width: 650px) {
  .contacto main .contacto_section .form_container {
    width: 90%; }
    .contacto main .contacto_section .form_container .form {
      font-size: 14px; }
      .contacto main .contacto_section .form_container .form .form_input label, .contacto main .contacto_section .form_container .form .form_textarea label {
        font-size: 25px; }
      .contacto main .contacto_section .form_container .form .form_input input, .contacto main .contacto_section .form_container .form .form_textarea input {
        font-size: 14px; }
      .contacto main .contacto_section .form_container .form .form_input textarea, .contacto main .contacto_section .form_container .form .form_textarea textarea {
        font-size: 18px; }
      .contacto main .contacto_section .form_container .form .form_submit button {
        padding: 10px 20px;
        font-size: 16px; }
      .contacto main .contacto_section .form_container .form .form_submit p {
        font-size: 20px; } }

@media (max-width: 748px) {
  .body_productos main .contenedor_productos .contenedor_articulo {
    width: 47%;
    margin-bottom: 10px; } }

@media (max-width: 500px) {
  .body_productos main .contenedor_productos {
    flex-direction: column;
    align-items: center; }
    .body_productos main .contenedor_productos .contenedor_articulo {
      width: 80%;
      margin-bottom: 10px; } }

@media (max-width: 550px) {
  .ideas-e-inspiraciones main .galeria_2 {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 150px);
    grid-template-areas: "imagen1 imagen2 imagen2" "imagen3 imagen3 imagen4"  "imagen3 imagen3 imagen4" "imagen5 imagen6 imagen6" "imagen5 imagen6 imagen6";
    width: 100%;
    grid-gap: 5px;
    overflow: hidden; } }

@media (max-width: 400px) {
  .ideas-e-inspiraciones main .galeria_2 {
    grid-template-rows: repeat(5, 100px); } }
