*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin flex ($align: initial , $justify: initial ) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}



.index{
    main{
        .carrucel{
            margin: 25px 0 15px 0 ;
            width: 100%;
            // display: flex;
            // justify-content: center;
            @include flex( initial , center );
            img{
                width: 80%;
            }
        }
        .productos, .promociones{
            margin-left: 10%;
            margin-right: 10%;
            .vermas{
                text-decoration: none;
                font-family: $primary_font;
                color: yellowgreen;
                &:hover{
                    border-bottom: 1px solid $primary_color;
                }
            }
            .contenedor_productos{
                margin-top: 60px;
                @include flex(initial,space-between);
                // display: flex;
                // justify-content:space-between;
                .contenedor_articulo{
                    width: 30%;
                    a{
                        // display: flex;
                        flex-direction: column;
                        //align-items: center;
                        @include flex(center);
                        text-align: center;
                        text-decoration: none;
                        font-family: $primary_font;
                        color: $primary_color;
                        border: 1px $primary_color solid;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                        height: 100%;
                    }
                    > h2{
                        margin: 10px 0 10px 0;
                    }
                    .articulo{
                        width: 100%;
                    }
                }
            }
        }
        .promociones{
            margin-top: 30px;
        }
    }
}